img {
  width: calc(100% - 8px);
  height: auto;
  margin: 15px 4px;
  border-radius: inherit;
}

.category-list {
  padding-left: .7vw;
  padding-right: .7vw;
}

.category-label {
  margin: 4px;
  padding: 3.75px;
  margin-top: -13px;
  background-color: black;
  color: white;
  font-size: 111%;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .category-list {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 599px) {
  .category-list {
    padding-left: 15px;
    padding-right: 15px;
  }
}