img {
  width: calc(100% - 8px);
  height: auto;
  margin: 15px 4px;
  border-radius: inherit;
}

.category-label {
  margin: 4px;
  padding: 3.75px;
  margin-top: -13px;
  background-color: black;
  color: white;
  font-size: 111%;
}