img {
  width: 100%;
  height: auto;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

mat-button-toggle {
  min-width: 33px;
  height: 43px;
}

.paginator-row {
  width: 100%;
}

.list-card {
  margin: .9vw;
}

.list-card-label {
  height: 48px;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .list-card-label { font-size: 78%; }
  .list-card { margin: 2.2vw; }
}

@media screen and (max-width: 599px) {
  .list-card-label { font-size: 78%; }
  .list-card { margin: 2.2vw; }
}