<div *ngFor="let item of items | keyvalue"
  class="col-xs-12 col-sm-12 col-md-6 col-lg-6 related-list">
  <mat-card class="mat-elevation-z6">
    <mat-card-title style="font-size:16px;">Related {{ item.key | titlecase }}</mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="row wrap">
      <div *ngIf="isEmpty(item.value); else itemList"
        style="width:100%; padding:18px 13px; text-align:left;">
        <span>There is no related item for this category.</span>
      </div>
      <ng-template #itemList>
        <div *ngFor="let x of item.value" class="related-item" fxFlex="20%" fxFlex.sm="33%" fxFlex.xs="33%">
          <a href="{{x.link}}">
            <img [src]="x.imageUrl" onerror="this.src='./assets/placeholder-small.jpg'" />
            <span style="display:block;" class="px-2">{{ x.itemName }}</span>
          </a>
        </div>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>