.info-details {
    text-align: left;
    padding: 24px 20px;
}

.detail-img {
    width: 100%;
    height: auto;
    border-radius: calc(1em * .3);
}

.detail-title {
    font-size: 195%;
    font-weight: bolder;
}