/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: google;
  src: url(assets/fonts/GoogleSans-Regular.ttf) format("opentype");
}

@font-face {
  font-family: starwars;
  src: url(assets/fonts/starwars.ttf) format("opentype");
}

* {
  font-family: 'google', 'arial', sans-serif !important;
}

.sw-font {
  font-family: 'starwars', 'arial', sans-serif !important;
}

.sw-bold {
  font-weight: bolder;
}

.non-block {
  float: left;
}

a {
  text-decoration: none !important;
}

.rounded-all {
  border-radius: .7em;
}

.rounded-top {
  border-top-left-radius: .7em;
  border-top-right-radius: .7em;
}

.rounded-btm {
  border-bottom-left-radius: calc(12px * .4);
  border-bottom-right-radius: calc(12px * .4);
}